
<div class="container" style="height: 100%;">
  <div class="row" style="height: 100%;">
    <div class="col-md-6 mx-auto my-auto">
      <div class="card">
        <div class="card-header">
          Sign up
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
            <div class="mb-3">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "formGroupExampleInput", placeholder: "email@email.com" %>
            </div>
            <div style="display: flex; justify-content: end;">
              <%= button_tag "Voltar", type: "button", class: "btn btn-secondary", onclick: "history.back();", style: "margin-top: 15px; margin-right: 10px;" %>
              <button on type="submit" class="btn btn-primary", style="margin-top: 15px;">Recuperar Senha</button>
            </div>
          <% end %>
        </div>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
