<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <title>Usermanager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <% if user_signed_in? %>
      <!-- cabeçalho personalizado para usuários logados -->
      <div class="user-header">
      </div>
      <nav class="navbar bg-body-tertiary" style="background-color: gainsboro">
        <div class="container-fluid">
          <div>Bem-vindo, <%= current_user.first_name + ' ' + current_user.last_name %>!</div>
          <%= button_to "Sair", destroy_user_session_path, method: :delete, class: "btn" %>
        </div>
      </nav>
      <% end %>
  </head>

  <body style="height: 100%; background-color: #fbfcfc;">
    <%= yield %>
  </body>
</html>
